@import './Styles/css/header.css';
@import './Styles/css/home.css';
@import './Styles/css/character.css';

body {
    font-family: 'Roboto', sans-serif;
}

/* Wrapper */

.wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
