.character-data {
    width: 100%;
}

.character-data .character-image {
    width: 50%;
    height: 500px;
    margin: 20px auto;
}
.character-data .character-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.character-data .character-comics-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.character-data .character-comics-list .charachter-comics {
    height: 650px;
    width: 280px;
    border-radius: 20px;
    overflow: hidden;
}

.character-data .character-comics-list .charachter-comics img {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.character-data .character-comics-list .comic-information {
    height: 50%;
    width: 100%;
}

.character-data .character-comics-list .comic-information h4 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.character-data .character-comics-list .comic-information p {
    padding: 10px;
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    .character-data .character-image {
        width: 70%;
        height: 500px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 600px) {
    .character-data .character-image {
        width: 85%;
        height: 500px;
        margin: 20px auto;
    }
}
