.character-data {
    width: 100%;
}

.character-data .character-image {
    width: 50%;
    height: 500px;
    margin: -300px auto 0;
}
.character-data .character-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.character-data .character-description {
    width: 33%;
    margin: 40px auto 80px;
    position: relative;
}
.character-data .character-description h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    text-decoration: underline;
}

.character-data .character-comics-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.character-data .character-comics-list .charachter-comics {
    height: 650px;
    width: 280px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
}

.character-data .character-comics-list .charachter-comics img {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.character-data .character-comics-list .comic-information {
    height: 50%;
    width: 100%;
}

.character-data .character-comics-list .comic-information h4 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.character-data .character-comics-list .comic-information p {
    padding: 10px;
    text-align: justify;
}

.character-data .character-description .not-favoris {
    color: green;
    font-size: 2em;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 100%);
}
.character-data .character-description .favoris {
    color: red;
    font-size: 2em;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 100%);
}

@media screen and (max-width: 1000px) {
    .character-data .character-image {
        width: 70%;
        height: 500px;
        margin: 20px auto;
    }
    .character-data .character-description {
        width: 55%;
        margin: 40px auto 80px;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .character-data .character-image {
        width: 85%;
        height: 500px;
        margin: 20px auto;
    }
    .character-data .character-description {
        width: 55%;
        margin: 40px auto 80px;
        position: relative;
    }
}
