.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 50px auto;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px;
    background-color: white;
}
.filter:hover {
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.71);
    transition: box-shadow 0.5s ease-in-out;
}

.filter button {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #efbbc4;
    color: #41505b;
}
.filter button:hover {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #0e341c;
    color: #efeeee;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.filter form {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.filter form input[type='search'] {
    border: none;
    border-bottom: 1px solid #41505b;
    color: #41505b;
}

@media screen and (max-width: 1000px) {
    .filter {
        width: 70%;
    }
    .filter button {
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    .filter {
        width: 95%;
        box-shadow: none;
        background-color: #f5f8f8;
    }
    .filter button {
        padding: 3px;
        height: 40px;
        min-width: 70px;
    }
}
