.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 40px auto;
    box-shadow: 0 0 4px 2px #554d53;
    padding: 10px;
    background-color: white;
}
.filter button {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #efbbc4;
    color: #41505b;
}

.filter form {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.filter form input[type='search'] {
    border: none;
    border-bottom: 1px solid #41505b;
    color: #41505b;
}

@media screen and (max-width: 1000px) {
    .filter {
        width: 70%;
    }
    .filter button {
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    .filter {
        width: 95%;
        box-shadow: none;
        background-color: #f5f8f8;
    }
    .filter button {
        padding: 3px;
        height: 40px;
        min-width: 70px;
    }
}
