.mobile-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile-menu {
        display: block;
        width: 100vw;
        position: absolute;
        top: 80px;
    }

    .mobile-menu a li {
        height: 60px;
        line-height: 2em;
        font-size: 2em;
        margin: 40px 0;
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
    }
    .mobile-menu a li::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background-color: black;
        bottom: 0;
        left: -13px;
    }
}
